spring:
  security:
    oauth2:
      authorizationserver:
        client:
          client:
            registration:
              client-id: "client"
              client-secret: "{noop}secret"
              client-authentication-methods:
                - "client_secret_basic"
              authorization-grant-types:
                - "authorization_code"
                - "refresh_token"
              redirect-uris:
                - "http://127.0.0.1:8080/login/oauth2/code/spring"
              post-logout-redirect-uris:
                - "http://127.0.0.1:8080/logged-out"
              scopes:
                - "openid"
                - "profile"
                - "user.read"
                - "user.write"
            require-authorization-consent: false
            require-proof-key: false

          public-client:
            registration:
              client-id: "public-client"
              client-authentication-methods:
                - "none"
              authorization-grant-types:
                - "authorization_code"
              redirect-uris:
                - "http://127.0.0.1:4200"
              scopes:
                - "openid"
                - "profile"
            require-authorization-consent: true
            require-proof-key: true
      resourceserver:
        jwt:
          issuer-uri: http://127.0.0.1:${server.port}

loong:
  accessTokenExpire: 100000
  refreshTokenExpire: 100000
  authentication:
    permits:
      - "/actuator/**"
      - "/auth/**"
      - "/ronna/**"
      - "/admin/**"
      - "/instances/**"

    defaultPassword: "admin"