spring:
  mail:
    host: "smtp.163.com"
    username: "xxx@163.com"
    password: "XRRCORGTYZCYKKPZ"
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true