spring:
  cloud:
    nacos:
      username: ${NACOS_USERNAME:nacos}
      password: ${NACOS_PASSWORD:nogx3PIHiZm5pBsf}
      server-addr: ${NACOS_HOST:192.168.81.128:30006}
      discovery:
        namespace: ${NACOS_NAMESPACE:test}
        server-addr: ${NACOS_HOST:192.168.81.128:30006}
        metadata:
          group: ${NACOS_GROUP:LOONG_STUDIO}
          version: 1.0
      config:
        file-extension: yml
        namespace: ${NACOS_NAMESPACE:test}
        server-addr: ${NACOS_HOST:192.168.81.128:30006}
  config:
    import:
      - optional:nacos:application-admin.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-endpoint.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-ezviz.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-file.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-hikari.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-logging.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-mail.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-minio.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-mvc.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-mybatis.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-mysql.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-oss.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-protocol.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-redis.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-security.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=false
      - optional:nacos:application-${spring.application.name}-dynamic.yml?group=${NACOS_GROUP:LOONG_STUDIO}&refreshEnabled=true
