<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ronnaces.ronna.boot.system.modules.role.mapper.SystemRoleMapper">

    <select id="findAllPermissionIdById" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT p.`id`
        FROM system_role r
                 JOIN system_role_permission rp ON rp.role_id = r.id
                 JOIN system_permission p ON rp.permission_id = p.id
        WHERE r.id = #{id}
          AND r.whether_delete = 0
          AND p.whether_delete = 0
    </select>

    <select id="findByIds" resultType="com.ronnaces.ronna.boot.system.modules.role.entity.SystemRole">
        SELECT * FROM system_role r
        <where>
            <if test="list != null">
                r.id in
                <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        AND r.whether_delete = 0
    </select>

    <select id="findByUserId" resultType="com.ronnaces.ronna.boot.system.modules.role.entity.SystemRole">
        SELECT r.*
        FROM system_user u
                 JOIN system_user_role ur ON ur.user_id = u.id
                 JOIN system_role r ON ur.role_id = r.id
        WHERE u.id = #{userId}
          AND u.whether_delete = 0
          AND r.whether_delete = 0
    </select>

    <select id="findCodeByUserId" resultType="java.lang.String">
        SELECT DISTINCTROW r.code
        FROM system_user u
                 JOIN system_user_role ur ON ur.user_id = u.id
                 JOIN system_role r ON ur.role_id = r.id
        WHERE u.id = #{userId}
          AND u.whether_delete = 0
          AND r.whether_delete = 0
    </select>

    <select id="findByPermissionId" resultType="java.lang.String">
        SELECT DISTINCTROW r.code FROM `system_role` r
        LEFT JOIN system_role_permission rp ON r.id = rp.role_id
        LEFT JOIN system_permission p ON rp.permission_id = p.id
        <where>
            r.whether_delete = 0
            AND p.whether_delete = 0
            <if test="permissionId != null">
                AND p.id = #{permissionId}
            </if>
        </where>
    </select>

    <select id="findByCode" resultType="com.ronnaces.ronna.boot.system.modules.role.entity.SystemRole">
        select *
        from system_role
        where code = #{code}
          and whether_delete = 0 limit 1
    </select>

</mapper>
